<div class="bmain">

  <h1>Phil's Blog</h1>
  <h3>My adventures as a Programmer</h3>



<% @posts.each do |post| %>

  <div class="btable">
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
  </div>
<% end %>


   <!--  <h1>Listing posts</h1>
    <%= link_to 'New Post', new_post_path %>
    <table class="blog">
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan="2"></th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.text %></td>
          <td><%= link_to 'Edit post', edit_post_path(post) %></td>
          <td><%= link_to 'Show Post', post_path(post) %></td>
          <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?'} %></td>

        </tr>
      <% end %>
    </table> -->



</div>