<div class="postbody">


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <%= image_tag @post.image_url(:thumb) %>
</p>

<p>
  <strong>Comments:</strong>
  <% @post.comments.each do |comment| %>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p>
  Add a comment
  <%= form_for([@post, @post.comments.build]) do |f| %>
  <%= f.label :commenter %><br/>
  <%= f.text_field :commenter %>
</p>

<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>



<%= link_to 'Back', posts_path %>
<%= link_to "Edit Post", edit_post_path(@post) %>
<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>

<% end %>
</div>